<div class="row" style="--bs-gutter-x:0;">
  <div class="col-md-12">
    <div class="container">
      <input type="text" class="" placeholder="Search tasks..." [(ngModel)]="searchQuery" (input)="onSearchChange()" />

      <div class="row" cdkDropListGroup>


        <div class="col-md-3" *ngFor="let column of toDoBoard1.columns">
          <!-- Search input -->

          <!-- Sorting button -->
          <button mat-button (click)="sortTasksByName(column)">Sort by Name</button>

          <!-- Rest of your card content -->
          <mat-card class="todo-card bg-light">
            <!-- ... card headers and other content ... -->
            <mat-card-header>{{column.name}}</mat-card-header>

            <div (cdkDropListDropped)="drop($event,column.name)" cdkDropList [cdkDropListData]="column.task" class="container example-list">
              <div class="example-box" *ngFor="let item of column.task" cdkDrag>
      
                <mat-card class="mt-2 mb-2">
                  <mat-card-header [hidden]="true" style="font-weight:500;">{{item.id}}</mat-card-header>
                  <mat-card-header style="font-weight:500;">{{item.name}}</mat-card-header>
                  <mat-card-content style="font-weight:300;">{{item.email}}</mat-card-content>
                  <mat-card-content style="font-weight:300;">{{item.phone}}</mat-card-content>
                  <mat-card-content style="font-weight:300;">{{item.age}}</mat-card-content>
                  <div class="btns" style="display:flex">
                    <button mat-icon-button color="primary" aria-label="Edit" (click)="editTask(item)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTask(item)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>